// mixin.scss

$baseWidth: 1400;

@mixin max1400(){
	width: 100%; max-width:1400px;
	height: 100%; 
	margin:auto;
	@content;
}

$url :'./';
@mixin bg($i, $r:no-repeat, $p: 0 0, $s:auto auto){
	background-image: url($url + $i);
	background-repeat: $r;
	background-position: $p;
	background-size: $s;
}

@mixin centerBtn($fw:100, $w:50, $h:56){
	position:absolute;
	top:50%;
	transform:translateX(-50%);
	margin-left:50%;
	margin-top:-$h/ 2 + px;
	width:$baseWidth + $fw + px;
	height:0;
	>button{
		width:$w + px;
		height:$h + px;
		float:left;
		@content;
		&:first-child{float:right;}
	}	
}

@mixin hidden(){
	display: block;
	position: absolute; z-index:-1;
	width: 0; height: 0; overflow: hidden;
}

@mixin full($c){
	display: block; width: 100%; height: 100%;
	background-color: $c;
	@content;
	>span{ @include hidden; }
}

@mixin lastMargin0(){
	float:left;
	@content;	
	&:last-child{margin-right: 0;	}
}

// $count:1;
@mixin indicator($c:10, $w:10, $mr:16, $h:10, $b:33){
	position:absolute;
		left: 50%; bottom:rem($b); z-index:500;
		width:rem($c *($w + $mr) - 16); height:rem($h);		
		transform:translateX(-50%);
		>ul{width: 100%;	height: 100%;
			>li{
				@include lastMargin0(){
					width: rem($w); height: 100%;
					margin-right:rem($mr); padding:rem(1); 
					box-sizing: border-box;
				};
			}
			a{@include full($indicator){border-radius:100%;	}}
			li.active a{ background-color: $indiPoint; }
		}
}
