/* monfeeHeadBox.css */
#headBox {
	width: 100%; height:120px;
	background-color: #fff;
}

h1 {
	float: left;
	width: 220px; height: 100%;
	background-color: #a30;
}

#gnbBox {
	float:right;
	width: 636px; height: 100%; 
	background-color: #fff;
}

.gnb_area{
	width: 100%; height: 100%;
	padding-top:35px; padding-bottom:20px;
	box-sizing: border-box;
}

.gnb_area > li{
	float:left;
	width:25%; height:100%;
	padding:0 5px; 
	box-sizing: border-box;
}

.gnb_area > li dl{
	width: 100%; height:100%;
}

.gnb_area > li dl dt{
	width: 100%; height:100%;
	text-align: center; 
	font-size:1.625rem;
	line-height: 4rem;
	cursor: pointer;
}

.gnb_area > li dl dd{
	width: 100%; height:auto;
	background-color: rgba(170,51,0, 0.7);
	padding:1rem 0; 
}

.gnb_sub{
	width: 100%; height: auto;
}

.gnb_sub > li{
	width: 100%; height:auto;
	margin-bottom:0.5rem; 
}

.gnb_sub a{
	display:block;
	width: 100%; height:auto;
	padding:0.5rem 0;
	text-indent:1rem;
	color:#fff;
}
