/* main.css */

/* #wrap ================================================ */
#wrap{width:1200px; height:auto; min-height:300px; margin:auto;}

/* #headBox ================================================ */
#headBox{width: 100%; height: 100px;
        padding:10px; box-sizing:border-box; background-color: #fa1;}
  h1{float: left; width:140px; height:80px; background-color: #fff;}
  #gnb{float: right; width:800px; height:50px; margin-top:20px; background-color: #fff;}
  .menu{width: 100%; height:auto; min-height:50px; background-color: #ccc;}
  .menu > li{float: left; width: 25%; height: auto; min-height:50px; 
             background-color: #acc;}
  .menu dl {width:100%; height:auto; text-align:center;}
  .menu dt {width:100%; height:50px; font-weight: bold; font-size: 1.1rem;
            padding:5px; box-sizing: border-box;}
  .menu dd {width:100%; height:auto; display: none;}
  .menu dd>ul {width:100%; height:auto;}
  .menu dd>ul li{width:100%; height:50px; 
           padding:5px; box-sizing: border-box;}

  .menu a {display: block; width: 100%; height: 100%; 
          background-color: #fff; line-height:40px;}
  .menu a:hover, 
  .menu a:focus {background-color: #fa0;} 

  .menu:hover dd {display: block;}

/*
  :focus기능은 
  클릭의 형태가 아니라 그것을 클릭/내용작성 하기전 위치를 파악하는 기능

  반드시: a , button, input, text-area, select 등의 어떠한 기능을 쓸수있는것에 처리 가능
*/

/* #viewBox ================================================ */
#viewBox{width: 100%; height: 300px; background-color: #bfc;}

/* #conBox ================================================ */
#conBox{width: 100%; height:auto;}
  .con_area {float:left; width:33.333333%; height:200px;}
  .notice_gallery {background-color: #5f1;}
  .info_news {background-color: #3f7;}
  .location_link {background-color: #1f9;}


/* #footBox ================================================ */
#footBox{width: 100%; height:auto; padding:10px; box-sizing:border-box; }

  #footBox >h2 {float:left; width:100px; height:80px; margin-right:40px; 
                background-color: #fff;}
  address {float:left; width:760px; height:80px; background-color: #fff;}
  .sns{float:right; width:240px; height:80px; background-color: #fff;}