/* slideBanner_01.css */

.slide_wrap {
	position: relative;
	width: 800px; height: 600px;
	margin: auto;
	border:1px solid #333;
}

.slide_btn{
	position: absolute;
	top:50%; left:5%; z-index:300;
	width:90%; height:0;
}

.slide_btn > button {
	float: left;
	width:50px; height:60px;
	transform: translateY(-50%);
	border-radius:30px;
	background-color: #ac8;
}
.slide_btn > .next {	float:right; }

.indicator{
	position: absolute;
	left: 50%; bottom:0.5rem;
	width:50%; height:2rem;
	border-radius:1rem;
	transform:translateX(-50%);
	background-color: #07a;
}

.slide_banner_box {	width: 100%; height: 100%; }

.slide_banner_wrap {
	width: 500%; height: 100%; 
	margin-left:-100%;
	background-color: #aca;
}

.slide_banner_wrap > div {
	float: left;
	width:20%; height:100%;
}

.slide_ban_01{ background-color: #d1f;}
.slide_ban_02{ background-color: #cff;}
.slide_ban_03{ background-color: #bf3;}
.slide_ban_04{ background-color: #ff4;}