@charset "utf-8";
/* reset.css */
:root{font-size:16px;}

html,body{width:100%; height:100%; font-family:'Noto Sans KR', sans-serif;}
html,body,div,h1,h2,h3,h4,h5,h6,p,pre,
ul,ol,li,dl,dt,dd,
img, figure, figcaption, hr,
header,article,section,nav,footer,aside,main{
  margin:0; padding:0; border:0; outline:0;}

ul,ol,li {list-style:none;}
a {text-decoration: none; color:inherit;}
button {border:0; background-color: transparent; cursor:pointer;
        border-radius:0;}
a:focus, button:focus {outline:3px solid #fa0;}        


address {font-style:normal;}
abbr {text-decoration:none;}

hr {border-bottom:1px solid #333;}

table,thead,tbody,tfoot,tr,th,td {border:1px solid #333; border-spacing:0; border-collapse: collapse;}

form, fieldset, legend {margin:0; padding:0; border:0; outline:0;}
legend {position: absolute; z-index:-1; width: 0; height: 0; overflow: hidden;}

input[type="text"], input[typoe="password"],
input[type="url"], input[type="email"],
input[type="number"], input[type="tel"],
input[type="date"],input[type="datetime"], input[type="week"], input[type="month"] {
  margin:0; padding:0; box-sizing:border-box; text-indent:0.5rem; border:1px solid #777777; 
  }

textarea {
  margin: 0; padding:0.5rem; box-sizing: border-box;  border:1px solid #777;
}

select {
  margin: 0; padding: 0; box-sizing: border-box;  border:1px solid #777;

  -webkit-appearance:none;
     -moz-appearance:none;
      -ms-appearance:none;
       -o-appearance:none;
          appearance:none;
}

select::-ms-expand {
  /* display:none; */
  border:0;
  background-color:transparent;
}


header,article,section,nav,footer,aside,main,
figure, figcaption {display: block;}
