@charset "UTF-8";

/* reset.css */

html,body{width:100%; height:100%;
         font-family: 'Noto Sans KR', sans-serif;
         color:#333;
      }
         
html,body, 
h1,h2,h3,h4,h5,h6,
p,pre,div,ul,ol,li,dl,dt,dd,
img{margin: 0; padding: 0; border: 0; outline: 0;}

ul,ol,li{list-style:none;}
a{color:inherit; text-decoration: none;}
button{cursor: pointer; border:0; background-color: #acf; border-radius:0;}

a:focus, button:focus{outline:3px solid #fa0;}

header,section,article,footer, nav, aside, main, figure,figcaption{display: block;}

abbr { text-decoration: none; }

