/* join.css */
#wrap{
	width: 100%; height:auto;	min-height:900px;
	padding-top:3rem;
	background-color: #f5f6f7;	
}

h1{ 
	width: 350px; height: 80px;
	margin:auto; margin-bottom:1rem;
 }

 .joinBox {
	width: 460px; height:auto; min-height:500px;
	margin:auto;
 }

 .joinBox > form,
 .joinBox fieldset { width: 100%; height:auto; }

.user_set {	 margin-bottom: 38px; }
.user_info { margin-bottom: 18px;}
.user_certi { margin-bottom:30px; }


.joinBox dl {
	width: 100%; height:auto; min-height: 78px;
	margin-bottom: 16px;
}
.joinBox dl:last-of-type{
	margin-bottom: 0;
}

.joinBox dl.error .end_icon,
.joinBox dl.error .confirm_text{	color:#d00; }

.joinBox dl.success .end_icon,
.joinBox dl.success .confirm_text {	color:#0d0; }


.joinBox dt{ 
	width: 100%; height: 18px; margin-bottom: 10px; 
	font-size:1rem; font-weight: bold;
	text-indent:0.2rem;
}
.input_area{ 
	width: 100%; height: 50px; background-color: #fff;
	padding:10px;
	border:1px solid #dadada;
	box-sizing: border-box;
}

.end_icon > span {	display:none; }
.input_area.error strong>span {	
	display:inline-block; color:#d00;
}

.input_area input{
	float:left;
	width:70%;  height: 100%;
	box-sizing: border-box;
	border:0;
	border-radius:0.2rem;
}
.input_area input:focus {
	border:2px solid #333;
}

.end_icon {
	float:right;
	color:inherit;
}
.end_icon i{
	margin-left:0.5rem;
	color:inherit;
}

/* ----------------------- */

.confirm_text {
	display: none;
	width: 100%; height:25px;
	font-size:0.875rem;
	line-height: 25px;
	color:#777;
}

