// macbook.scss

@import "./setting";

#wrap{
	width: $baseWidth; height:auto; min-height:3000px; 
	margin:auto; padding-top:90px;
	// background-image:linear-gradient(#dfdfdf, #afafaf);
}

#headBox{
	position: fixed; top: 0; left: 0; z-index: 1500;
	width: 100%; height: 90px; background-color: #fff;
	border-bottom: 1px solid #aaa;
}

#openLaptop{
	position: fixed; top:0; left: 0; right: 0;
	width: $baseWidth - 300px; height:auto; min-height:1000px;
	margin:auto;
	transform:translateY(100px);

	>h2{opacity: 0;
		position: relative;  z-index:500; top: 2rem;
		width: 90%; height:auto; 
		margin:auto;	margin-bottom: 2rem; padding-top: 2rem;
		text-align: center; color:$black;
		font-size:6rem; font-weight:900; line-height: 1.4;
		>span{
			font-size:0.35em;
		}
	}

	.macbook{
		position: relative;
		width:$baseWidth - 300px; height:350px;
		margin:auto;
		> img{
			position: absolute; bottom: 0; left: 0; right: 0; margin:auto;
			width: 100%; height:auto;
		}
	}
	p{ @include content;}
	.movie_link{width:$baseWidth; font-size: 2rem;}
}


#laptopSize{
	width:$baseWidth; height:auto; min-height:700px;
	margin-top:2300px; margin-bottom:5rem;

	.macbook{
		position:relative;
		width: 100%; height:600px; 
		background-color: rgba(255,255,255,0.3);}

	.macbook_option{
		position:absolute; top:0; left:0; right:0; z-index:500;
		width:80%; margin:auto;
		>div{
			width:35%; height:auto;
			font-size:1.5rem; font-weight: bold;
			
			dl{
				width: 100%; height:100px; border-bottom:1px solid #777;
				padding-bottom: 1.5rem; padding-top:1.5rem;
				color:$black;
				dt {margin-bottom:0.5rem;}
				dd{	color:lighten($black, 40%);	}
				&:last-of-type{ border-bottom: none; padding-bottom: 0; }
			}
		}
		>.option_part_01{float:left; }
		>.option_part_02{float:right; }
	}

	.macbook_video{
		position:absolute; top:0; left:0; 
		width:100%; height:auto;
		> video {
			width: 100%; height:auto;
		}
	}
}



// -------------------------------------------------
#retinaDisplay{
	width:$baseWidth; height:auto; min-height:500px;
	margin-bottom:5rem;
	background-color: #ffa;
	
	.mobile {display: none;}
	>h2{
		width:80%; height:auto; margin:auto; margin-bottom:5rem;
		color:$black;
		font-size:4rem; line-height:1.2;
		> em {
			display: block;
			color:lighten($black, 45%);
			font-style: normal; 
		}
	}

	.retina_image{
		position: relative; left: 0; right: 0; margin:auto; z-index:500;
		width:$baseWidth; height:auto; 
		background-color: #acf;
		>div{
			position:absolute; top: 0; left: 0;
			width:100%; height:100%;
			&.people{z-index:10; background-color: #0fc;}
			&.artwork{z-index:5; background-color: #a8c;}
		}
	}

	p{ @include content;
		opacity: 1; top:0;	
		span {color:$black;	}
	}

}
.dermi{
	margin-top:2000px;
	width:$baseWidth; height:auto; min-height:1000px;
	background-color: #aff;
}


// @media all and (max-width:768px) {
// 	.mobile{display: block;}
// }