/** guideContainer.css

	* guideSub영역포함하여 설정
	* graphic, graphicSub
	* program, grogramSum 영역을 공통영역으로 설정 처리

	*/
	
	
/* guide_container : #graphicBox, #graphicSubBox 영역의 통합 디자인 영역 */
.guide_container{
	position: relative;
	background-color: #59e;
	overflow: hidden;
}

.guide_title {
	position:absolute; top: 200px; left: 110px; z-index:100;
	width: 740px; height: 300px;
	color:#fff;
	background-color: #ccc;
}
.guide_btn_area{
	position: absolute; top: 520px; left: 300px;
	width: 270px; height: 90px;
}
.guide_btn_area > button{
	float:left; width: 106px; height: 100%;
}

/* .guide_btn_area .guide_next_btn {} */
.guide_btn_area .guide_prev_btn {float:right;}

.guide_indicator_area {
	position: absolute; left:300px; bottom:100px;
	width:1600px; height:200px;
	background-color: #333;
}

/* .guide_indicator_area > ul{}
.guide_indicator_area  li{} */


.guide_content {
	float:right; 
	width: 1300px; height: 120%; margin-right:-200px;
	padding:5rem; box-sizing: border-box;
	background-color: rgba(255,255,255,0.9);
	transform:rotate(-15deg);
	border-radius:50px;
}

.guide_con_sub {
	position: absolute; left:120px; top:150px;
	width: 700px; height: 300px;
	text-align: right;
	transform:rotate(15deg);
}

/* 
.guide_con_sub h3{}
.guide_con_sub p{} 
*/
.guide_con_sub .link_btn{
	position: absolute; right: 0; bottom: 0;
	width: 234px; height: 60px;
	text-align: center; line-height: 60px;
	color:#fff;
}
.guide_con_sub a{
	width: 100%; height: 100%; 
	background-color: #f06;	
} 


/* #graphicSubBox ========================================= */
.guide_sub_container{
	position: relative;
  padding-top: 120px; padding-bottom: 90px; box-sizing: border-box;
	background-color: #fff;
}

.guide_sub_container > h2 {
	width: 100%; height: 80px; margin-bottom:10px;
	text-align: center;
}
.guide_sub_container > p {
	width: 100%; max-width:1024px; height: 60px;
	margin:auto; margin-bottom: 30px;
	text-align: center;
}

.guide_tip {
	width: 90%; min-width:980px; max-width: 1340px; height:auto;
	margin:auto; 
	background-color: #ccc;
}

.guide_tip li {
	float:left;
	width:30%; height:230px;
	margin-right:5%; 
	border-radius:10px;
	background-color: #777;
}
.guide_tip li:nth-child(n):nth-child(-n+3) {	margin-bottom: 30px;}
.guide_tip li:nth-child(3n) {	margin-right: 0;}

#graphicSubBox .more {
	position: absolute; left:50%; margin-left:450px; bottom:30px;
	width: 100px; height: 60px;
	background-color: #f06;
}
