/* xidoMain.css */

#wrap {
	position: relative;
	width: 100%; min-width:1200px;
	height: 100%; min-height:900px;
	margin:auto;
	background-color: #ccf;
}

/* #headBox ========================================= */
#headBox{
	position:absolute; top:0; left:0; z-index:1500;
	width:100%; height:120px;
	padding:30px 90px; box-sizing: border-box;
	border-bottom:1px solid #333;
	background-color: #fff;
	box-shadow:0 0 1rem rgba(51,51,51,0.7);
}

	h1 {
		float:left;
		width:60px; height:60px;
		background-color:#f06;
	}
	
	#gnbBox{
		float:right;
		width:60px; height:60px;
	}
		.btn_area{
			width:100%; height:100%;
			background-color:#f06;
		}
		.btn_area > button {
			width: 100%; height: 100%;
			background-color: transparent;
		}

		.gnb_menu{
			display: none;
			position: absolute; right:0; top:100%;
			width:100%; height:auto; min-height:700px;
			background-color:#f06;
			background-image:linear-gradient(#f06 10%, #26000F 12%);
		}

/* #viewBox ========================================= */
#viewBox{
	padding:150px 90px 100px; box-sizing: border-box;
	 background-color: #fff;
}
#viewBox .full{
	overflow: hidden;
	border-radius:20px;
	background-color: #f06;
}

/* #bestBox ========================================= */
#bestBox{
	padding-top: 70px; padding-bottom: 90px; box-sizing: border-box;
	background-color: #fff;
}

#bestBox h2 {
	width: 100%; height:80px;
	margin-bottom:70px;
	font-size:3.5rem; text-align:center; text-transform:uppercase;
}





/* guide_container : #graphicBox, #graphicSubBox 영역의 통합 디자인 영역 */
.guide_container{
	background-color: #59e;
}

/* #graphicSubBox ========================================= */
.guide_sub_container{
 padding-top: 120px; padding-bottom: 90px; box-sizing: border-box;
	background-color: #fff;
}


/* #graphicBox ========================================= */
/* #graphicBox{} */

/* #graphicSubBox ========================================= */
/* #graphicSubBox{} */

/* #subAdBox ========================================= */
#subAdBox{
	 width:100%; height:320px;
	 padding:30px 90px; box-sizing: border-box;
	 background-color: #f06;
}

/* #programBox ========================================= */
/* #programBox{} */

/* #programSubBox ========================================= */
/* #programSubBox{} */

/* #certiInfoBox ========================================= */
#certiInfoBox{
	padding:30px 90px 75px; box-sizing: border-box;
	background-color: #f06;
}

/* #footBox ========================================= */
#footBox{
	 width:100%; height:60px;
	 text-align:center;
	 background-color: #333;
}
