/* viewBox ---------------------------------- */
$url:'../../../img/stcoImg/';

#viewBox{
	position: relative;
	width: 100%; height: 700px;
	margin:auto;

	.btn{	
		z-index:500;
		@include centerBtn($fw:120){
			@include bg('icon.png', $p:-10px -90px);
		}
		>button:first-child{
			background-position: -180px -90px;
		}
	}

	$count: 11;
	.indicator{
		@include indicator($c:$count, $w:15, $mr:16, $h:15, $b:40);
	} // .indicator

	// .view_area{}

}// #viewBox

