@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
body {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#wrap {
  width: 1400px;
  height: auto;
  min-height: 3000px;
  margin: auto;
  padding-top: 90px;
}

#headBox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

#openLaptop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 1100px;
  height: auto;
  min-height: 1000px;
  margin: auto;
  transform: translateY(100px);
}
#openLaptop > h2 {
  opacity: 0;
  position: relative;
  z-index: 500;
  top: 2rem;
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: #202020;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.4;
}
#openLaptop > h2 > span {
  font-size: 0.35em;
}
#openLaptop .macbook {
  position: relative;
  width: 1100px;
  height: 350px;
  margin: auto;
}
#openLaptop .macbook > img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
#openLaptop p {
  width: 1050px;
  height: auto;
  margin: auto;
  position: relative;
  top: 2rem;
  opacity: 0;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #797979;
  font-weight: 700;
  word-break: keep-all;
}
#openLaptop .movie_link {
  width: 1400px;
  font-size: 2rem;
}

#laptopSize {
  width: 1400px;
  height: auto;
  min-height: 700px;
  margin-top: 2300px;
  margin-bottom: 5rem;
}
#laptopSize .macbook {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.3);
}
#laptopSize .macbook_option {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  width: 80%;
  margin: auto;
}
#laptopSize .macbook_option > div {
  width: 35%;
  height: auto;
  font-size: 1.5rem;
  font-weight: bold;
}
#laptopSize .macbook_option > div dl {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #777;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  color: #202020;
}
#laptopSize .macbook_option > div dl dt {
  margin-bottom: 0.5rem;
}
#laptopSize .macbook_option > div dl dd {
  color: #868686;
}
#laptopSize .macbook_option > div dl:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
#laptopSize .macbook_option > .option_part_01 {
  float: left;
}
#laptopSize .macbook_option > .option_part_02 {
  float: right;
}
#laptopSize .macbook_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#laptopSize .macbook_video > video {
  width: 100%;
  height: auto;
}

#retinaDisplay {
  width: 1400px;
  height: auto;
  min-height: 500px;
  margin-bottom: 5rem;
  background-color: #ffa;
}
#retinaDisplay .mobile {
  display: none;
}
#retinaDisplay > h2 {
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 5rem;
  color: #202020;
  font-size: 4rem;
  line-height: 1.2;
}
#retinaDisplay > h2 > em {
  display: block;
  color: #939393;
  font-style: normal;
}
#retinaDisplay .retina_image {
  position: relative;
  left: 50%;
  z-index: 500;
  transform: translateX(-50%);
  width: 1400px;
  height: auto;
  background-color: #acf;
}
#retinaDisplay .retina_image > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
}
#retinaDisplay .retina_image > div.people {
  z-index: 10;
  background-image: url("../../img/mac_other/retina_people.jpg");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto;
}
#retinaDisplay .retina_image > div.artwork {
  z-index: 5;
  background-image: url("../../img/mac_other/retins_bg_img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto;
}
#retinaDisplay p {
  width: 1050px;
  height: auto;
  margin: auto;
  position: relative;
  top: 2rem;
  opacity: 0;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #797979;
  font-weight: 700;
  word-break: keep-all;
  opacity: 1;
  top: 0;
}
#retinaDisplay p span {
  color: #202020;
}

.dermi {
  margin-top: 2000px;
  width: 1400px;
  height: auto;
  min-height: 1000px;
  background-color: #aff;
}