/* main.css */

@charset "UTF-8";

#wrap {
	position:relative;
	width:980px; height:auto; 
	margin:auto; padding-top:30px;
	background-color:rgb(16, 58, 75);
}

/* #headBox */
#headBox{
	float:left;
	width: 250px; height:710px; 
	padding:50px 47px 66px; box-sizing:border-box;
	background-color: #777;
}

	h1 {
		width:100%; height:104px; 
		margin-bottom:42px;
		background-color: #fa0;
	}

	#gnbBox {
		width: 100%; height:auto;
		margin-bottom: 10px;
		background-color: #acc;
	}
	#gnbBox > ul {
		width:100%; height:auto;
	}
	#gnbBox li{
		width:100%; height:40px;
		margin-bottom:20px; 
		background-color: #fa9;
	}
	#gnbBox li:last-child{
		margin-bottom:0;
	}

	.qna {
		width:112px; height:112px;
		margin:auto;
		background-color: #afa;
	}


/* #lnbBox */
#lnbBox {
	position:absolute; top:0; left:0;
	width: 100%; height:30px;
	background-color: #888;
}

#lnbBox ul {
	float:right;
	width:auto; height:100%;
}

#lnbBox li {
	float:left;
	padding:2px; box-sizing:border-box;
	width:95px; height:30px;
}
#lnbBox li:last-child{
	width:245px;
}

#lnbBox li:nth-child(1){
	background-color: transparent;
}
#lnbBox li:nth-child(2){
	background-color: #555;
}
#lnbBox li:last-child{
	background-color: #fff30d;
}



/* #viewBox */
#viewBox {
	float:right; position:relative;
	width:730px; height:710px;
	background-color: #adadad;
}

#viewBox:before,
#viewBox::before { content:" "; display: block;
	width:100%; height:50px; background-color: #555;
} 

.con_text {
	float:right;
	width:400px; height:560px; background-color: #acf;}

.com_img {
	position:absolute; left:80px; bottom:70px;
	width:330px; height:520px; background-color: #cc7;
} 


/* #footBox */
#footBox {
	float:left; position: relative;
	width:100%; height: 110px;
	padding:17px 42px 25px 48px; box-sizing: border-box;

	/* background-color: #fff; */
	background-color: #dadaff;
	/* border-top:1px solid #999; */
}

#footBox:before,
#footBox::before { content:""; display:block;
	position: absolute; top:-1px; left: 0; z-index:100;
	width:100%; height:1px;  background-color: #999;
}

#footBox h2{
	float:left;
	width:80px; height:54px; background-color: #fac;
}

.company_about{
	float:left;
	width:90px; height:54px; 
	margin:0 15px;
	background-color: #fac;	
}

.company_info{
	float:left;
	width:390px; height:54px; 
	background-color: #acc;
}

.family_site{
	position: absolute; top:-50px; right:42px;
	width:300px; height:100px;
	background-color: #7af;
}

.site_comment{
	float:right;
	width:300px; height:20px;
	margin-top:34px;
	background-color: #afc;
}
