/* main.css */

@charset "UTF-8";

#wrap {
	position:relative;
	width:980px; height:auto; 
	margin:auto; padding-top:30px;
	background-color:rgb(16, 58, 75);
}

/* #headBox */
#headBox{
	float:left;
	width: 250px; height:710px; 
	padding:50px 47px 66px; box-sizing:border-box;
	background-color: #777;
}

	h1 {
		width:100%; height:104px; 
		margin-bottom:42px;
		background-color: #fa0;
	}

	#gnbBox {
		width: 100%; height:auto;
		margin-bottom: 10px;
		background-color: #acc;
	}
	#gnbBox > ul {
		width:100%; height:auto;
	}
	#gnbBox li{
		width:100%; height:40px;
		margin-bottom:20px; 
		background-color: #fa9;
	}
	#gnbBox li:last-child{
		margin-bottom:0;
	}

	.qna {
		width:112px; height:112px;
		margin:auto;
		background-color: #afa;
	}


/* #lnbBox */
#lnbBox {
	position:absolute; top:0; left:0;
	width: 100%; height:30px;
	background-color: #888;
}

#lnbBox ul {
	float:right;
	width:auto; height:100%;
}

#lnbBox li {
	float:left;
	padding:2px; box-sizing:border-box;
	width:95px; height:30px;
}
#lnbBox li:last-child{
	width:245px;
}

#lnbBox li:nth-child(1){
	background-color: transparent;
}
#lnbBox li:nth-child(2){
	background-color: #555;
}
#lnbBox li:last-child{
	background-color: #fff30d;
}



/* #viewBox */
#viewBox {
	float:right; position:relative;
	width:730px; height:710px;
	background-color: #adadad;
}

.pattern_bg {
	width:100%; height:50px; background-color: #555;
}
.con_text {
	float:right;
	width:400px; height:560px; background-color: #acf;}

.com_img {
	position:absolute; left:80px; bottom:70px;
	width:330px; height:520px; background-color: #cc7;
	transition:all 500ms ease-out;
} 
.com_img:hover{left:150px;}

/* #footBox */
#footBox {
	float:left;
	width:100%; height: 110px;
	/* background-color: #fff; */
	background-color: #000;
	border-top:1px solid #999;
}
