/* rwd_02_base.css */

body {background-color: #ccc;}

#wrap {width: 100%; height: auto;}
#headBox {width: 100%; height: 195px; margin-bottom: 30px; background-color: #fa0;}
#viewBox {width: 100%; height: 120px; margin-bottom: 30px; background-color: #7f7;}
#contentBox {width: 100%; height:705px; margin-bottom: 30px; background-color: #07f;}
#noticeBox {width: 100%; height: 150px; margin-bottom: 30px; background-color: #aaa;}
#footBox {width: 100%; height: 60px; background-color: #777;}