/* basic_02.css */
#gnb {
  font-family: "myriad pro", "din", "arial", "malgun gothic", "noto sans", dotum, sans-serif;
}

#wrap {
  background-color: #a70;
  color: #0a0a0a;
  background-image: url("../../../img/base/img_001.jpg");
}

.apple_juice {
  background-color: #f33;
}

.mango_juice {
  background-color: #fc9;
}

.kiwi_juice {
  background-color: #7a6;
}

.grape_juice {
  background-color: #a4a;
}

.orange_juice {
  background-color: #f70;
}

.slide_event {
  background-image: url("../../../img/base/eventMain.jpg");
}

.slide_best {
  background-image: url("../../../img/base/bestCut.jpg");
}

.slide_info {
  background-image: url("../../../img/base/infoMessage.jpg");
}

.slide_guide {
  background-image: url("../../../img/base/guideThum.png");
}

#headBox {
  width: 100px;
  height: 200px;
  background-color: #acc;
}

#sectionBox {
  width: 100%;
  height: 300px;
  background-color: #Fac;
}

#conBox {
  width: 100%;
  height: 200px;
  background-color: #acf;
}

.box_01 {
  width: 26.0416666667vw;
  height: 25vw;
}

.box_02 {
  width: 100px;
  height: 100px;
  border-radius: 33.3333333333px;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 2.0833333333rem;
}

.box_02 > a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

#fnb {
  background-color: #fff;
  color: #333;
}

#footBox, h4 {
  background-color: #aaa;
  color: #676767;
}

h5, h6 {
  border: 1px solid #fff;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-size: 1rem;
}
