/* main.css */
@import url("../page/header.css");
#wrap #headBox {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
#wrap #footBox {
  width: 100%;
  height: 100%;
  background-color: #333;
}

@media screen and (max-width: 640px) {
  #headBox {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  #footBox {
    width: 100%;
    height: 100%;
    background-color: #333;
  }
}