 jisan_result.css */

@charset "utf-8";

/* reset.css */
html,body{width: 100%; height: 100%;}
html,body,
h1,h2,h3,h4,h5,h6,
p,pre,div,
ul,ol,li,dl,dt,dd,img{
  margin:0; padding:0; border:0; outline:0;
  behavior:url('../../ie/pie/PIE.htc');}

ul,ol,li{list-style:none;}

/* design.css */
#wrap{width:1900px; height:auto; min-height:800px;
    background-color: #ccc;}

/* #popupBox ==================== */
#popupBox{display:none; 
        width:100%; height:90px; background-color:#777;}

/* #headBox ==================== */
#headBox{position:fixed; z-index:700; top:0; left:0;
       width:inherit; height:86px; 
     padding:14px 60px; box-sizing: border-box;
       background-color:rgba(255,255,255,0.7);}

  h1{float:left;
     width:210px; height:60px; 
     background-color:#333;}       

/* #naviBox ==================== */
#naviBox{float:right; width:1420px; height:60px;}
  
  #naviBox>h2{position:absolute; z-index:-1; 
              width:0; height:0; overflow:hidden;}

/* IR 기법(image replace): 
보여주고자하는 이미지는 나타나고 그 해석이되는 설명은 숨김처리하는 기법 */

  .gnb{float:left; width:900px; height:60px; background-color:#aaa;}
  .unb{float:right; width:450px; height:60px; background-color:#777;}


/* 공통으로 적용된 화면에 꽉차는 박스 */
.full_size{width:100%; height:900px; 
  padding-top:150px; box-sizing:border-box;}
  .guide_area {width:1100px; height:auto; 
              margin:100px auto; text-align:center;}
  .guide_area > h2 {width:100%; height:60px; 
                  text-transform:uppercase;
                   font-size:36px; color:#fff; background-color:#222;}
  .guide_area > p {width: 100%; height: 30px; margin-bottom:57px;
                  background-color: #cca; 
                   color:#fff; font-size:16px; text-transform:uppercase;}
    .guide_cont {width:100%; height:390px; background-color: #333;}

/* #viewBox ==================== */
#viewBox{background-color: #555;}

/* #guideBox ==================== */
#guideBox{background-color:#aaa;}

/* #saleBox ==================== */
#saleBox{background-color:#999;}

/* #newsBox ==================== */
#newsBox{background-color:#ddd;}

/* #jisanSideBox ==================== */
#jisanSideBox{display:none;}

/* #footBox ==================== */
#footBox{width:100%; height:230px; background-color: #131313;}
#footBox h2{position:absolute; z-index:-1; 
            width:0; height:0; overflow:hidden;}

  .foot_area {width:1100px; height:100%; margin:auto;}
  
  .foot_part_01 {width: 100%; height:41px;
                border-bottom:1px solid #2f2f2f;}
    .operation_guideline {float:left; width:600px; height:100%; background-color: #fff;}
    .sns_part {float:right; width:184px; height:100%; background-color: #fff;}

                /*----------------------*/
  .foot_part_02 {width:100%; height:186px; 
                padding-top:30px; padding-bottom:45px; 
                box-sizing:border-box;}

    .company_address {float:left; width:700px; height:70px; margin-bottom:2px; background-color: #fff;}
    .family_site {float:right; width: 182px; height: 32px; margin-top:10px; border:1px solid #707070;}
    .certification_mark {float:left; width: 700px; height: 40px; background-color: #fff;}




/*
1. position : 찾아서 내용을 정리해 오시는 것!
2. 접근성 4원칙 13지침 
3. 수요일 선답형문제: 5문제 + 10문제 
          포트폴리오문제: 홈페이지레이아웃(새로운사이트5페이지 + 페이지구성정리)
