/* jisan_result.css */

@charset "utf-8";

/* reset.css */
html,body{width: 100%; height: 100%;}
html,body,
h1,h2,h3,h4,h5,h6,
p,pre,div,
ul,ol,li,dl,dt,dd,img{margin:0; padding:0; border:0; outline:0;}
ul,ol,li{list-style:0;}

/* design.css */
#wrap{width:1900px; height:auto; min-height:800px;
	  background-color: #ccc;}

/* #popupBox ==================== */
#popupBox{width:100%; height:90px; background-color:#777;}

/* #headBox ==================== */
#headBox{width:100%; height:86px; background-color:#333;}

/* #naviBox ==================== */
#naviBox{display:none;}

/* #viewBox ==================== */
#viewBox{width:100%; height:714px; background-color: #555;}

/* #guideBox ==================== */
#guideBox{width:100%; height:900px; background-color:#aaa;}

/* #saleBox ==================== */
#saleBox{width:100%; height:900px; background-color:#999;}

/* #newsBox ==================== */
#newsBox{width:100%; height:900px; background-color:#ddd;}

/* #jisanSideBox ==================== */
#jisanSideBox{display:none;}

/* #footBox ==================== */
#footBox{width:100%; height:230px; background-color: #131313;}

/*
1. position : 찾아서 내용을 정리해 오시는 것!
2. 접근성 4원칙 13지침 
3. 수요일 선답형문제: 5문제 + 10문제 
          포트폴리오문제: 홈페이지레이아웃(새로운사이트5페이지 + 페이지구성정리)
*/